.background-drop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 43, 102, 0.5);
  transition: background-color $trans-default;
}

.background-drop--fading {
  background-color: rgba(0, 43, 102, 0);
}
