.description {
  margin-bottom: 145px;
  background-color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 95px;
  }

  @include vp-767 {
    margin-bottom: 85px;
  }
}

.description__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7.5%;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 44px;
  }
}

.description__image-container {
  min-width: 48%;

  @include vp-1023 {
    margin-top: 9px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.description__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description__title {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin-top: 0;
  margin-bottom: 30px;

  @include vp-1023 {
    font-size: 2.6rem;
    line-height: 3.6rem;
    margin-bottom: 15px;
  }

  @include vp-767 {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
}

.description__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0;
}

.description__image-container img {
  width: 100%;
}
